.CodeblockContent,
.Pre {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--codeblock-color-docs-fill-default) transparent;
  font: var(--font-code-font-code-base);
  @include major-themes-css-modules(
    scrollbar-color,
    --codeblock-color-docs-fill-icon-default
  );
}

.CodeblockContent::-webkit-scrollbar,
.Pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.CodeblockContent::-webkit-scrollbar-track,
.Pre::-webkit-scrollbar-track {
  background: none;
  margin-top: var(--size-250);
}

.CodeblockContent::-webkit-scrollbar-thumb,
.Pre::-webkit-scrollbar-thumb {
  @include major-themes-css-modules(
    background-color,
    --codeblock-color-docs-fill-icon-default
  );
  border-radius: 4px;
}

.CodeblockContent::-webkit-scrollbar-corner,
.Pre::-webkit-scrollbar-corner {
  background-color: transparent;
}

.CodeblockContent {
  display: inline-grid;
}

.Pre {
  text-align: left;
  margin: 0;
  padding: var(--size-250) var(--size-500) var(--size-250) var(--size-250);
}

.Code {
  // stylelint-disable-next-line declaration-property-value-disallowed-list
  display: table;
}

.Wrap {
  white-space: pre-wrap;
  word-break: break-word;
}

.NoWrap {
  white-space: nowrap;
}

.Line {
  display: table-row;
}

.LineNo {
  display: table-cell;
  min-width: 26px;
  user-select: none;
  padding-right: var(--size-500);
  text-align: right;
  white-space: nowrap;
  @include major-themes-css-modules(
    color,
    --codeblock-color-docs-code-linenumber
  );
}

.Block {
  display: block;
}

.LineTokens {
  display: table-cell;
}

.IndentWrapper {
  // stylelint-disable-next-line declaration-property-value-disallowed-list
  display: table;
}

.IndentWrapperRow {
  display: table-row;
}

.Indent {
  display: table-cell;
  white-space: pre;
}

.IndentContent {
  display: table-cell;
}
