@import './syntaxHighlight';

.Basics {
  padding: var(--size-250);
  color: var(--color-syntax-punctuation);

  :global(.cm-gutters) {
    text-align: right;
    white-space: nowrap;
    background: transparent;
    border: none;
    @include major-themes-css-modules(
      color,
      --codeblock-color-docs-code-linenumber
    );
  }

  :global(.cm-lineNumbers .cm-gutterElement) {
    min-width: auto;
    padding: 0;
    padding-right: var(--size-300);
  }

  :global(.cm-foldGutter) {
    display: none;
  }

  :global(.cm-cursor) {
    @include major-themes-css-modules(
      border-color,
      --codeblock-color-docs-text-bright
    );
  }

  :global(.cm-gutterElement) {
    padding: 0;
  }

  :global(.cm-scroller) {
    overflow: hidden;
    font: var(--font-code-font-code-base);
    font-variant-ligatures: none;
  }

  :global(.cm-activeLineGutter),
  :global(.cm-activeLine) {
    background: transparent;
  }

  :global(.cm-focused) {
    &:global(.cm-focused) {
      outline: none;
    }

    :global(.cm-activeLineGutter),
    :global(.cm-activeLine) {
      @include major-themes-css-modules(
        background-color,
        --codeblock-color-docs-code-highlight
      );
    }

    :global(.cm-activeLineGutter) {
      @include major-themes-css-modules(
        color,
        --codeblock-color-docs-text-bright
      );
    }
  }

  :global(.cm-selectionBackground) {
    @include major-themes-css-modules(
      background-color,
      --codeblock-color-docs-code-selected
    );
  }

  :global(.cm-content),
  :global(.cm-line) {
    padding: 0;
  }
}

:global(.cm-tooltip-autocomplete) > ul {
  @include major-themes-css-modules(
    background-color,
    --color-docs-background-default
  );
}

:global(.cm-tooltip-autocomplete) > li[aria-selected] {
  @include major-themes-css-modules(
    background-color,
    --codeblock-color-docs-code-highlight
  );
}

li[aria-selected] :global(.cm-completionLabel) {
  @include major-themes-css-modules(color, --codeblock-color-docs-text-bright);
}

:global(.cm-completionLabel) {
  @include major-themes-css-modules(color, --codeblock-color-docs-text-default);
}

.Basics::-webkit-scrollbar {
  width: var(--size-200);
  height: var(--size-200);
}

.Basics::-webkit-scrollbar-track {
  background: none;
  margin-top: var(--size-250);
}

.Basics::-webkit-scrollbar-thumb {
  @include major-themes-css-modules(
    background-color,
    --codeblock-color-docs-fill-icon-default
  );
  border-radius: var(--size-100);
}

.Basics::-webkit-scrollbar-corner {
  background-color: transparent;
}
