:global(.tok-bool) {
  color: var(--color-syntax-boolean);
}
:global(.tok-string) {
  color: var(--color-syntax-string);
}
:global(.tok-comment) {
  color: var(--color-syntax-comment);
}
:global(.tok-number) {
  color: var(--color-syntax-number);
}
:global(.tok-keyword) {
  color: var(--color-syntax-keyword);
}
:global(.tok-operator) {
  color: var(--color-syntax-punctuation);
}
:global(.tok-variableName) {
  color: var(--color-syntax-liquidobject);
}
:global(.tok-punctuation) {
  color: var(--color-syntax-punctuation);
}
:global(.tok-attributeName) {
  color: var(--color-syntax-keyword);
}
:global(.tok-propertyName) {
  color: var(--color-syntax-default);
}
:global(.tok-variableName2) {
  color: var(--color-syntax-function);
}
:global(.tok-typeName) {
  color: var(--codesyntax-color-languageliquidtag);
}
