.HideTabs {
  display: none;
}

.TabsContainerMargin:is(:only-child) {
  margin-top: var(--size-100);
}

.ResetLineHeight {
  line-height: 0;
}

.Small,
.Small li,
.Small .Prefix,
.Small .Postfix {
  font: var(--font-mono-font-caption-base);
  height: var(--size-600);
  line-height: var(--size-600);
}

.ActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--space-base-margin-stack-xxs);
  font: var(--font-code-font-code-base);
}

.ActionsItem {
  flex: 0 0 auto;
  padding: 0;
  min-width: var(--size-800);
  height: var(--size-800);
}

.ActionItems,
.Small {
  min-width: var(--size-600);
  height: var(--size-600);
}

.Expanded {
  width: 100%;
}

.Prefix,
.Postfix {
  display: flex;
  align-items: center;
  padding: 0 var(--size-150);
  font: var(--font-mono-font-body-minor-base);
  height: var(--size-800);
  line-height: var(--size-800);
  border-radius: var(--size-100);
  @include major-themes-css-modules(
    background-color,
    --codeblock-color-docs-background-surface-default
  );
}
